.container-tag {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container-collapse{
    display: flex;
    margin: 24px 0 200px 100px;
    gap: 76px;
}

.container-collapse .toggle {
    width: 582px;
    height: 52px;
    border: none;
    background-color:#FF6060 ;
    border-radius: 5px;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    display: flex;
    align-items: center;    
}

.container-description {
    width: 582px;
    height: 249px;
    border-radius: 10px;
    background:#F6F6F6;
}

.content-description {
    text-align: left;
    margin: 0;
    padding: 40px 0 0 10px;
    height: 249px;
    font-size: 17px;
    line-height: 142.6%;
    color: #FF6060;
}

.container-liste {
    background:#F6F6F6;
    border-radius: 10px;
    width: 582px;
    height: 249px;
}

.content-liste {
    height: 249px;
    margin: 0;
    font-size: 17px;
    line-height: 142.6%;
    padding: 40px 0 0 20px;
    color: #FF6060;
}

.content-liste ul {
    display: block !important;
}

.host h5 {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    color: #FF6060;
    width: 93px;
    height: 52px;
    text-align: end;
}

.host img {
    width: 64px;
    height: 64px;
    border-radius: 50px;
    background: #C4C4C4;
}

.housing-title {
    margin: 0;
    font-size: 36px;
    line-height: 142.6%;
    color: #FF6060
}

.housing-location {
    margin: 0;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    color: #FF6060
}

.container-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container-principal {
    width: 1225px;
    margin: 30px 103px 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating {
   text-align: right;
}

.container-bis {
    display: flex;
    flex-direction: column;
    gap: 27px;
}