* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    size: 24px;
    list-style: none;
    text-decoration: none;
    
}

header {
    margin: 40px 100px 50px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 210.32px;
    height: 68px;
}

.nav .menu {
    display: flex;
    gap: 57px;
}

.lien {
    color: #FF6060;
}

.lien:hover {
    color: #FF6060;
    border-bottom: 2px solid #FF6060;
}
