* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    size: 24px;
    list-style: none;
    text-decoration: none;
    
}

header {
    margin: 40px 100px 50px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 210.32px;
    height: 68px;
}

.nav .menu {
    display: flex;
    gap: 57px;
}

.lien {
    color: #FF6060;
}

.lien:hover {
    color: #FF6060;
    border-bottom: 2px solid #FF6060;
}


/* Responsive Tablettes */
@media (min-width: 769px) and (max-width: 992px) {
    header {
        margin: 30px 50px 50px 50px;
    }
    
    .logo {
        width: 180px;
        height: 52px;
    }

    .nav .menu {
        gap: 25px;
    }

    .lien {
       font-size: 16px;
    }
}


/* Responsive Mobile */
@media screen and (max-width: 768px) {
    header {
        margin: 20px 20px 20px 20px;
    }


    .logo {
        width: 145px;
        height: 47px;
    }

    .nav .menu {
        gap: 10px;
    }

    .lien {
       font-size: 12px;
    }

    .lien:hover {
        border-bottom: 1px solid #FF6060;
    }


    
}