.container-carroussel {
    position: relative;
}

.img-caroussel {
    width: 100%;
    height: 415px;
    border-radius: 25px;
    background-size: cover;
    object-fit: cover;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

.prev {
    position: absolute;
    top: 40%;
    left: 10%;
}

.next {
    position: absolute;
    top: 40%;
    right: 10%;
}

.slide-counter {
    position: absolute;
    left: 50%;
    top: 86%;
    color: #FFFF;
    font-size: 18px;
}

/* Responsive Tablettes */
@media (min-width: 769px) and (max-width: 992px) {
    .img-caroussel {
        height: 320px;
        border-radius: 15px;
    }
    .prev {
        width: 40px;
        height: 60px;
    }
    .next{
        width: 40px;
        height: 60px;
    }
}

/* Responsive Mobile */
@media screen and (max-width: 768px) {
    .slide-counter{
        display: none;
    }
    .img-caroussel {
        height: 255px;
        border-radius: 10px;
    }
    .prev {
        width: 12px;
        height: 19px;
    }
    .next{
        width: 12px;
        height: 19px;
    }
}
