footer {
    background-color: black;
    position: relative;
    height: 209px;
    margin-top: auto;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.logo2 {
    margin-top: 50px;
    width: 122px;
    height: 39.44px;
}
