.banner {
    position: relative;
}

.banner h1 {
    font-weight: 500;
    font-size: 48px;
    line-height: 142.6%;
    color: white;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 33.7%;
    transform: translateX(-50%);
    white-space: nowrap
}

.banner img {
    width: 100%;
    background: #000000;
    filter: brightness(50%);
    border-radius: 25px;
}

/* Responsive Tablettes */
@media (min-width: 769px) and (max-width: 992px) {
    .banner h1 {
        font-size: 32px;
        left: 50%;
        transform: translateX(-50%);
    } 
    .banner img {
        width: 100%;
        border-radius: 15px;
        height: 165px;
    }
}

/* Responsive Mobile */
@media screen and (max-width: 768px) {
    .banner h1 {
        width: 217px;
        font-size: 24px;
        line-height: 100%;
        left: 32%;
        top: 30%;
        text-align: left;
        white-space: normal;
    } 
    .banner img {
        width: 100%;
        border-radius: 10px;
        height: 111px;
    }
}